/* Victory (Strikes Again) Adwaita/Ambiance based theme by Darin */

.menu
{
    padding: 1;

    background-color: @menu_bg;
    color: @menu_fg;
    border-style: solid;
    border-width: 1;
    border-radius: 0;
    border-color: shade (@menu_bg, 0.95);

    -GtkMenuItem-arrow-scaling: 0.4;
}

.menuitem .arrow,
.menuitem .arrow:active,
.menuitem GtkArrow,
.menuitem GtkArrow:active,
.menuitem.arrow,
.menuitem.arrow:active,
.menuitem.GtkArrow,
.menuitem.GtkArrow:active
{
color: green;
background-image:none;
background-color: green;
}

.menuitem
{
padding: 4 1;
}

.menuitem .accelerator
{
color: shade (@menu_bg, 1.5);
}

.menuitem:insensitive,
.menuitem *:insensitive,
.menuitem .accelerator:insensitive
{
	color: shade (@menu_bg, 0.8);
	text-shadow: none;
}

.menuitem .accelerator:prelight,
.menuitem .accelerator:active {
color: shade (@menu_bg, 1.55);
}

.menuitem:prelight,
.menuitem *:prelight {
    background-image: -gtk-gradient (linear, left top, left bottom,
				     from (shade (@menu_bg_prelight, 0.96)),
				     to (shade (@menu_bg_prelight, 1.10)));
    color: @menu_fg_prelight;
    border-style: none;
}

.menuitem.separator {
    border-color: shade (@menu_bg, 0.97);
    border-style: solid;
        border-width: 1;
        -GtkMenuItem-horizontal-padding: 40;
}

/* menu radio and check items are drawn differently */

.menuitem.check,
.menuitem.radio,
.menuitem.check:prelight,
.menuitem.radio:prelight,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    background-image: none;
    background-color: @transparent;
}

.menuitem.check:active {
    background-image: url("../assets/checkbox-menuitem-checked.svg");
}

.menuitem.check:active:prelight {
    background-image: url("../assets/checkbox-menuitem-checked-selected.svg");
}

.menuitem.check:active:insensitive {
    background-image: url("../assets/checkbox-menuitem-checked-insensitive.svg");
}

.menuitem.check:inconsistent {
    background-image: url("../assets/checkbox-menuitem-mixed.svg");
}

.menuitem.check:inconsistent:insensitive {
    background-image: url("../assets/checkbox-menuitem-mixed-insensitive.svg");
}

.menuitem.radio:active {
    background-image: url("../assets/radio-menuitem-checked.svg");
}

.menuitem.radio:active:prelight {
    background-image: url("../assets/radio-menuitem-checked-selected.svg");
}

.menuitem.radio:active:insensitive {
    background-image: url("../assets/radio-menuitem-checked-insensitive.svg");
}

.menuitem.radio:inconsistent {
    background-image: url("../assets/radio-menuitem-mixed.svg");
}

.menuitem.radio:inconsistent:insensitive {
    background-image: url("../assets/radio-menuitem-mixed-insensitive.svg");
}

.menuitem GtkScale.trough {
    background-color: shade (@bg_color, 0.8);
    border-style: none;
}

.menuitem GtkScale
{
    -GtkRange-slider-width: 25;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-length: 25;
    border-radius: 300;
    border-style: solid;
    background-image: -gtk-gradient (linear, left top, left bottom,
						from (shade (@menu_bg, 1.2)),
						to (shade (@menu_bg, 0.7)));

    -adwaita-focus-fill-color: @transparent;
    -adwaita-focus-border-radius: 0;
    -adwaita-focus-border-color: alpha (@selected_bg_color, 0.0);
        
	-adwaita-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@menu_bg, 0.9)),
                                       to (shade (@menu_bg, 0.7)));
}

.menuitem GtkScale.slider:active,
.menuitem GtkScale.slider:hover,
.menuitem GtkScale.slider:active:hover
{
    border-style: solid;
    background-image:		-gtk-gradient (linear, left top, left bottom,
									 from (shade (@menu_bg, 1.6)),
									   to (shade (@menu_bg, 0.8)));
						
	-adwaita-border-gradient:		-gtk-gradient (linear, left top, left bottom,
                                         from (shade (@menu_bg, 0.94)),
                                           to (shade (@menu_bg, 0.74)));
}


.menuitem GtkCalendar
{
    background-color: @menu_bg;
    background-image: none;
    border-radius: 3;
    border-style: solid;
    border-width: 1;
    border-color: shade (@menu_bg, 0.8);
    padding: 0;

    color: @menu_fg;
}

.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view 
{
    background-color: shade (@menu_bg, 0.9);
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1;
    border-color: shade (@menu_bg, 0.8);
    padding: 0;

    color: @menu_fg;
}



.menuitem .entry {
    background-color: shade (@menu_bg, 1.3);
    background-image: none;

    color: @menu_fg_prelight;

    -adwaita-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@menu_bg, 0.75)),
                                           to (shade (@menu_bg, 0.9)));
}

.menubar:prelight,
.menubar .menuitem:prelight
{
border-color: shade (@tooltip_bg_color, 0.87);
border-width: 1 1 0 1;
background-image: none;
background-color: shade (@tooltip_bg_color, 0.9);
}
