GtkScale.slider,
GtkScale.slider.horizontal {
    background-image: url("../assets/scale-slider-horizontal.svg");
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
    background-image: url("../assets/scale-slider-horizontal-insensitive.svg");
}

GtkScale.slider.vertical {
    background-image: url("../assets/scale-slider-vertical.svg");
}

GtkScale.slider.vertical:insensitive {
    background-image: url("../assets/scale-slider-vertical-insensitive.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal {
    background-image: url("../assets/scale-slider-marks-above-horizontal.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
    background-image: url("../assets/scale-slider-marks-above-horizontal-insensitive.svg");
}

GtkScale.scale-has-marks-above.slider.vertical {
    background-image: url("../assets/scale-slider-marks-above-vertical.svg");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
    background-image: url("../assets/scale-slider-marks-above-vertical-insensitive.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal {
    background-image: url("../assets/scale-slider-marks-below-horizontal.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive {
    background-image: url("../assets/scale-slider-marks-below-horizontal-insensitive.svg");
}

GtkScale.scale-has-marks-below.slider.vertical {
    background-image: url("../assets/scale-slider-marks-below-vertical.svg");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
    background-image: url("../assets/scale-slider-marks-below-vertical-insensitive.svg");
}
