style "nautilus-elementary-view" =  "default"
{
	ythickness				= 0
	xthickness				= 0

	GtkTreeView		:: even-row-color	= @base_color
	GtkTreeView		:: odd-row-color	= shade (0.9, @base_color)

	engine "murrine"
	{
		contrast			= 0.165
	}

}

widget		"*Nautilus*FMListView*GtkTreeView"					style:rc	"nautilus-elementary-view"
widget_class	"*Nautilus*IconView*"							style		"nautilus-elementary-view"
widget_class	"*FSpot*Photo*<GtkEventBox>*"						style		"nautilus-elementary-view"
